# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui

indice = list(range(1900,2020,20))
at = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40]
serie = pd.Series(data=at, index=indice)
print(serie)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [ ]:

# seu código aqui
indice = list(range(1900,2020,20))
at = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40]
serie = pd.Series(data=at, index=indice)
print(serie)

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [6]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temp = pd.Series(dic_temperaturas)
temp

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

arr = pd.DataFrame(arr)
arr

             0           1           2
0   107.824369   90.729004  104.854657
1    84.267270   99.925758   96.824506
2    90.624647   83.710933  112.433297
3    95.908985  101.752209  102.004284
4   103.903033   77.063574  105.045142
5   102.281307   93.238867   99.242446
6   108.049632  101.538019   88.037961
7   107.466764  104.366834   84.817330
8   104.353781  100.872728  125.532529
9   107.446311   98.388617  106.593327
10  102.478245   97.697633  105.954851
11   96.697600   99.228469  100.790725
12   82.581065  107.164969  111.647425
13  102.315775   92.325021  107.971322
14  104.172633   96.186701  108.963859
15   97.841874  100.963831   85.298029
16   91.009152  100.692534   84.352877
17   94.722441   96.010001   98.900390
18   89.201444  103.746649   97.907726
19  107.526705   94.387170  103.099837

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [19]:
#seu código aqui
arr = np.random.normal(100, 10, (20,3))
arr_ = pd.DataFrame(arr, index=list(range(1,21)))
arr_.columns = ['x0', 'x1', 'x2']
arr_

            x0          x1          x2
1   100.084019   93.349247   89.511275
2   110.936662  104.379278  102.225218
3    88.521397  106.478021  115.990323
4    91.485109  122.396409  108.450192
5   111.997207  102.042696   88.553425
6    89.240594   90.842439   95.504467
7   115.450247  109.410442   96.978570
8   105.285307  109.020915   98.770734
9   118.835357   95.069424  101.530818
10  113.995682   93.546970  100.116172
11  100.280403  101.859581  117.222333
12  110.509076  119.113648   90.379328
13  114.018263   92.638946   91.520427
14  107.454523   93.838866  109.685317
15   92.005538  104.164813   96.826932
16   98.159896  100.603230   95.090814
17  110.122734  103.909427  125.539354
18   95.576463  128.201681   94.972979
19   96.909572  108.910423  104.877653
20   90.440691   83.999627  104.605860

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [26]:
# seu código aqui
arr_['media'] = (arr_['x0'] + arr_['x1'] + arr_['x2'])/3
arr_

            x0          x1          x2       media
1   100.084019   93.349247   89.511275   94.314847
2   110.936662  104.379278  102.225218  105.847053
3    88.521397  106.478021  115.990323  103.663247
4    91.485109  122.396409  108.450192  107.443903
5   111.997207  102.042696   88.553425  100.864443
6    89.240594   90.842439   95.504467   91.862500
7   115.450247  109.410442   96.978570  107.279753
8   105.285307  109.020915   98.770734  104.358985
9   118.835357   95.069424  101.530818  105.145200
10  113.995682   93.546970  100.116172  102.552941
11  100.280403  101.859581  117.222333  106.454106
12  110.509076  119.113648   90.379328  106.667351
13  114.018263   92.638946   91.520427   99.392545
14  107.454523   93.838866  109.685317  103.659569
15   92.005538  104.164813   96.826932   97.665761
16   98.159896  100.603230   95.090814   97.951313
17  110.122734  103.909427  125.539354  113.190505
18   95.576463  128.201681   94.972979  106.250375
19   96.909572  108.910423  104.877653  103.565883
20   90.440691   83.999627  104.605860   93.015393

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [28]:
# seu código aqui
arr_['log_med'] = np.log(arr_['media'])
arr_

            x0          x1          x2       media   log_med
1   100.084019   93.349247   89.511275   94.314847  4.546639
2   110.936662  104.379278  102.225218  105.847053  4.661995
3    88.521397  106.478021  115.990323  103.663247  4.641148
4    91.485109  122.396409  108.450192  107.443903  4.676969
5   111.997207  102.042696   88.553425  100.864443  4.613777
6    89.240594   90.842439   95.504467   91.862500  4.520293
7   115.450247  109.410442   96.978570  107.279753  4.675440
8   105.285307  109.020915   98.770734  104.358985  4.647837
9   118.835357   95.069424  101.530818  105.145200  4.655342
10  113.995682   93.546970  100.116172  102.552941  4.630379
11  100.280403  101.859581  117.222333  106.454106  4.667714
12  110.509076  119.113648   90.379328  106.667351  4.669715
13  114.018263   92.638946   91.520427   99.392545  4.599077
14  107.454523   93.838866  109.685317  103.659569  4.641112
15   92.005538  104.164813   96.826932   97.665761  4.581551
16   98.159896  100.603230   95.090814   97.951313  4.584471
17  110.122734  103.909427  125.539354  113.190505  4.729072
18   95.576463  128.201681   94.972979  106.250375  4.665798
19   96.909572  108.910423  104.877653  103.565883  4.640208
20   90.440691   83.999627  104.605860   93.015393  4.532765